name: Example Elixir App CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Tests & Checks (Elixir ${{ matrix.elixir }} / OTP ${{ matrix.otp }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write
    defaults:
      run:
        working-directory: ./tests/example_app
    env:
      MIX_ENV: test

    strategy:
      matrix:
        include:
          - elixir: '1.15.x'
            otp: '25.x'
          - elixir: '1.16.x'
            otp: '26.x'
          - elixir: '1.17.x'
            otp: '27.x'

    steps:
      - uses: actions/checkout@v4

      - name: Setup Erlang and Elixir
        uses: erlef/setup-beam@v1.18
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Mix and build cache
        uses: actions/cache@v4
        with:
          path: |
            ./tests/example_app/deps
            ./tests/example_app/_build
          key: ${{ runner.os }}-mix-${{ matrix.elixir }}-${{ matrix.otp }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ matrix.elixir }}-${{ matrix.otp }}-

      - name: Get dependencies
        run: mix deps.get

      - name: Code analyzers
        run: |
          mix format --check-formatted
          mix compile --warnings-as-errors

      - name: Tests & Coverage
        uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          coverage_threshold: 90
          working_directory: ./tests/example_app
